<!DOCTYPE html>
<html>

<head>
    <title>博客管理后台</title>
    <base href="/manager">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- build:vendor-css -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" />
    <link href="/node_modules/highlight/lib/vendor/highlight.js/styles/github.css" />
    <!-- endbuild-->
    <!-- build:common-css -->
    <link href="/css/markdown.css" />
    <link href="/css/layout.css" />
    <link href="/css/code.css" />
    <!-- endbuild-->
</head>

<body>
    <manager></manager>
    <!-- build:vendor_manager-js -->
    <script src="/node_modules/core-js/client/shim.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/reflect-metadata/Reflect.js"></script>
    <script src="/node_modules/highlight/lib/vendor/highlight.js/highlight.pack.js"></script>
    <script src="/node_modules/showdown/dist/showdown.min.js"></script>
    <!-- endbuild-->

    <!-- build:vendor_module-module -->
    <script src="/src/common/common.ts"></script>
    <!-- endbuild -->

    <!-- build:manager-module -->
    <script src="/src/manager/main.ts"></script>
    <!-- endbuild -->
</body>

</html>