{{define "MainArea"}}
<!--内容区域-->
<div class="row">
    <div class="col-sm-3 hidden-xs">
        <!--列表区域-->
        <div class="panel panel-default">
            <div class="panel-heading">文章分类</div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked blog-list">
                    {{range $k,$v := .Categories}}
                    <li><a href="/c{{$v.Id}}">{{$v.Name}}</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">最新文章</div>
            <div class="panel-body">
                <ul class="nav nav-default blog-list">
                    {{range $k,$v := .NewestArticles}}
                    <li><a href="/a{{$v.Id}}.html">{{$v.Title}}</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">最新回复</div>
            <div class="panel-body">
                <ul class="nav nav-default blog-list">
                    {{range $k,$v := .NewestReplies}}
                    <li>{{$v.Name}} 说:
                        <!--<a href="/a{{$v.Article}}.html">{{$v.Title}}</a><br/>-->
                        <a class="blog-text-hidden" href="/a{{$v.Article}}.html#r{{$v.Id}}">{{tohtml $v.Content}}</a>
                    </li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-xs-12">
        {{template "Content" .}}
    </div>
</div>
{{end}} 

{{define "Nav"}}
<hr/>
{{range $k,$v := .Categories}}
<li class="visible-xs"><a href="/c{{$v.Id}}">{{$v.Name}}</a></li>
{{end}}
{{end}}

{{define "Footer"}} {{end}} 