.blog-navbar {
    background-color: #303535;
    border-radius: 0px;
}

.blog-flex-container { 
    display: flex;
}

.blog-flex-extend {
    flex: 1;
}

.blog-flex-fixed {
    flex: none;
}

.blog-search-button {
    height: 100%;
    margin-left: 5px;
}

.blog-footer {
    padding: 30px;
    background-color: #303535;
    color: #fff;
}

.blog-text-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.blog-subtitle {
    margin-top: 10px;
}

.blog-list > li > a {
    padding: 2px 5px;
}

/*样式覆盖*/
.panel-default > .panel-heading {
    background-color: #fdfdfd;
}

