<a>添加分类</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>ID</td>
            <td>分类名称</td>
            <td>状态</td>
            <td>创建时间</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cate of categories ">
            <td>{{cate.Id}}</td>
            <td>{{cate.Name}}</td>
            <td>{{cate.CreateTime}}</td>
            <td>
                <a (click)="Show(cate.Id)" *ngIf="cate.Status==2" class="text-info">显示</a>
                <a (click)="Hide(cate.Id)" *ngIf="cate.Status==1" class="text-danger">隐藏</a>
                <a (click)="Delete(cate.Id)" class="text-danger">删除</a>
            </td>
        </tr>
    </tbody>
</table>
<nav>
    <ul class="pagination">
        <li><a (click)="ShowPage(1)">&laquo;</a></li>
        <li *ngFor="let p of pagesNum"><a (click)="ShowPage(p)">{{p}}</a></li>
        <li><a (click)="ShowPage(pages)">&raquo;</a></li>
    </ul>
</nav>