<div class="form-group">
    <label>文章标题:</label>
    <input [(ngModel)]="title" type="text" class="form-control" [disabled]="!writable">
</div>
<div class="form-group">
    <label>文章分类:</label>
    <select [(ngModel)]="category" class="form-control">
        <option *ngFor="let c of categories;" value="{{c.Id}}">{{c.Name}}</option>
    </select>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-6">
            <label>文章内容:</label>
        </div>
        <div class="col-xs-6 text-right">
            <a (click)="status='editor'" class="btn"><span class="glyphicon glyphicon-edit"></span></a>
            <a (click)="status='preview';Markdown(wall)" class="btn"><span class="glyphicon glyphicon-eye-open"></span></a>
        </div>
    </div>
    <div [style.display]="status=='editor'?'block':'none'">
        <textarea #editor [(ngModel)]="content" (input)="Changed(editor)" [style.height]="height+'px'" [style.overflow]="'hidden'" class="form-control auto-textarea" [disabled]="!writable"></textarea>
    </div>
    <div [style.display]="status=='preview'?'block':'none'">
        <div #wall class="generate-area markdown-body" [style.minHeight]="height+'px'"></div>
    </div>
</div>
<div *ngIf="info" class="alert alert-info">{{info}}</div>
<button (click)="dialog = !dialog" class="btn btn-default" [disabled]="!writable">上传文件</button>
<button (click)="Save()" class="btn btn-default" [disabled]="!writable">保存</button>


<div *ngIf="dialog" class="modal" style="display:block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="dialog = !dialog" type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">上传文件</h4>
            </div>
            <form #form action="/file/upload" method="post" enctype="multipart/form-data" target="blankFrame">
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon">文件</span>
                        <input type="file" class="form-control" name="File">
                    </div>
                </div>
                <div class="modal-footer">
                    <button (click)="dialog = !dialog" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button (click)="Upload(form)" type="button" class="btn btn-primary">上传</button>
                </div>
            </form>
        </div>
    </div>
</div>