{{define "Content"}}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">标题</h3>
        <div class="text-muted blog-subtitle">发表时间:2016-10-10 12:23:25 阅读:100</div>
    </div>
    <div class="panel-body">
        文章第一段的内容
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">标题</h3>
        <div class="text-muted blog-subtitle">发表时间:2016-10-10 12:23:25 阅读:100</div>
    </div>
    <div class="panel-body">
        内容
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">标题</h3>
        <div class="text-muted blog-subtitle">发表时间:2016-10-10 12:23:25 阅读:100</div>
    </div>
    <div class="panel-body">
        内容
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">标题</h3>
        <div class="text-muted blog-subtitle">发表时间:2016-10-10 12:23:25 阅读:100</div>
    </div>
    <div class="panel-body">
        内容
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">标题</h3>
        <div class="text-muted blog-subtitle">发表时间:2016-10-10 12:23:25 阅读:100</div>
    </div>
    <div class="panel-body">
        内容
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">标题</h3>
        <div class="text-muted blog-subtitle">发表时间:2016-10-10 12:23:25 阅读:100</div>
    </div>
    <div class="panel-body">
        内容
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">标题</h3>
        <div class="text-muted blog-subtitle">发表时间:2016-10-10 12:23:25 阅读:100</div>
    </div>
    <div class="panel-body">
        内容
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">标题</h3>
        <div class="text-muted blog-subtitle">发表时间:2016-10-10 12:23:25 阅读:100</div>
    </div>
    <div class="panel-body">
        内容
    </div>
</div>
{{end}}