
{{define "Head"}}
<title>Kira的博客</title>
{{end}}

{{define "Content"}}
<div>
  {{if gt .ArticlePage 0}}
    {{range .Articles}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="/a{{.Id}}.html">{{.Title}}</a></h3>
      </div>
      <div class="panel-body">
        {{.Summary}}
      </div>
      <div class="panel-footer">发表时间:{{time .CreateTime}}</div>
    </div>
    {{end}}
  {{else}}
    <div class="well">
      暂无文章
    </div>
  {{end}}
</div>


<nav class="text-center">
  <ul class="pagination">
    <li {{if eq .CurrentPage 1}}class="disabled"{{end}}>
      <a href="{{.FirstUrl}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{$G := .}}
    {{range $k,$v := until .PageLength}}
    <li><a href="{{$G.Url}}{{$G.StartPage}}.html">{{$v}}</a></li>
    {{end}}
    <li {{if eq .CurrentPage .ArticlePage}}class="disabled"{{end}}>
      <a href="{{.Url}}{{.ArticlePage}}.html" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{{end}}