
{{define "Head"}}
<title>Kira的博客</title>
{{end}}

{{define "Content"}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="/home/article">单击此处标题查看文章内容</a></h3>
  </div>
  <div class="panel-body">
    文章内容
  </div>
  <div class="panel-footer">发布日期</div>
</div>
<nav class="text-center">
  <ul class="pagination">
    <li class="disabled">
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{{end}}