{{define "Head"}}
<link rel="stylesheet" href="/css/markdown.css"/>
<link rel="stylesheet" href="/css/highlight/github-gist.css"/>
<link rel="stylesheet" href="/css/code.css"/>
<script src="/js/lib/highlight.pack.js"></script>
<script src="/js/lib/showdown.min.js"></script>
<script>
    $(document).ready(function(){
        var converter = new showdown.Converter()
        var md = $(".markdown-body")
        md.html(converter.makeHtml(md.text()))
        var codes = md.find("code")
        for (var i = 0; i < codes.length; i++) {
          var code = codes[i]
          hljs.highlightBlock(code)
          var rowNum = code.innerHTML.split('\n').length - 1
          var rowDiv = document.createElement('div')
          rowDiv.className = 'code-row-space'
     	    for (var j = 1; j <= rowNum; j++) {
            rowDiv.innerHTML += '<span>' + j.toString() + '</span>\n'
          }
          code.parentElement.insertBefore(rowDiv, code)
      }
    })
</script>
{{end}} 
{{define "Content"}}
<h1>文章标题</h1><hr/>
<article class="markdown-body">
#中问打算  测试测试
##asdasd  
###asdsad  
1. asdasd  
2. sadsad2
换行测试  
结尾必须双空格
换行测试

换行测试

> asdasd  
```go
package main

func main() {
  var i = 0
  return 0
  asdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsdasdsd

}
```
[百度](http://www.baidu.com)  
![Logo](http://www.baidu.com/img/baidu_jgylogo3.gif)  
**asdasd**  
*asdasd*  
  
```go
package main

func main() {
  var i = 0
  return 0
}
```
</article>
<p/>
<p/>
<div class="alert alert-success" role="alert">本文遵循XXX</div>
<h3>评论列表</h3>
<div class="reply">
  <div class="well">
    <h5 class="media-heading">1楼 2016-01-12 12:11:13</h5>
    <h5 class="media-heading">昵称昵称昵称昵称:</h5>
    xxxxx
  </div>
  <div class="well">
    <h5 class="media-heading">1楼 2016-01-12 12:11:13</h5>
    <h5 class="media-heading">昵称昵称昵称昵称:</h5>
    xxxxx
  </div>
  <div class="well">
    <h5 class="media-heading">1楼 2016-01-12 12:11:13</h5>
    <h5 class="media-heading">昵称昵称昵称昵称:</h5>
    xxxxx
  </div>
  <nav class="text-center">
    <ul class="pagination">
      <li class="disabled">
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

{{end}}