{{define "Head"}}
{{end}}
{{define "HeadScript"}}
{{end}}
{{define "FootScript"}}
{{end}}
{{define "Nav"}}
<hr/>

<li class="visible-xs"><a href="#contact">列表</a></li>
<li class="visible-xs"><a href="#contact">列表</a></li>
<li class="visible-xs"><a href="#contact">列表</a></li>
<li class="visible-xs"><a href="#contact">列表</a></li>
<li class="visible-xs"><a href="#contact">列表</a></li>
<li class="visible-xs"><a href="#contact">列表</a></li>
<li class="visible-xs"><a href="#contact">列表</a></li>
<li class="visible-xs"><a href="#contact">列表</a></li>
<li class="visible-xs"><a href="#contact">列表</a></li>
<li class="visible-xs"><a href="#contact">列表</a></li>
<li class="visible-xs"><a href="#contact">列表</a></li>
{{end}}
{{define "MainArea"}}
<div class="container">
    <div class="row">
        <div class="col-sm-3 hidden-xs">
            <div class="panel panel-default">
                <div class="panel-heading">文章分类</div>
                <div class="category panel-body">
                    <ul class="list-unstyled">
                        <li><a>列表</a></li>
                        <li><a>列表</a></li>
                        <li><a>列表</a></li>
                        <li><a>列表</a></li>
                        <li><a>列表</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">最新文章</div>
                <div class="article panel-body">
                    <ul class="list-unstyled">
                        <li><a>列表</a></li>
                        <li><a>列表</a></li>
                        <li><a>列表</a></li>
                        <li><a>列表</a></li>
                        <li><a>列表</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">最新回复</div>
                <div class="reply panel-body">
                    <ul class="list-unstyled">
                        <li><a>列表</a></li>
                        <li><a>列表</a></li>
                        <li><a>列表</a></li>
                        <li><a>列表</a></li>
                        <li><a>列表</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            {{template "Content" .}}
        </div>
    </div>
</div>
{{end}}
