<!DOCTYPE html>
<html>

<head>
    {{template "Head" .}}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/top.css" /> 
    {{template "HeadScript" .}}
</head>

<body>
    {{$login := .SESSION.Bool "Login"}}
    {{if not $login}}
    <div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="loginLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="loginLabel">登录</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger hidden" role="alert" id="loginError"></div>
                    <form>
                        <div class="form-group">
                            <label for="loginEmail">邮箱:</label>
                            <input type="email" class="form-control" id="loginEmail" placeholder="请输入邮箱">
                        </div>
                        <div class="form-group">
                            <label for="loginPassword">密码:</label>
                            <input type="password" class="form-control" id="loginPassword" placeholder="密码长度为6-15位">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id ="loginButton" type="button" class="btn btn-primary">登录</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Register" tabindex="-1" role="dialog" aria-labelledby="registerLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="registerLabel">注册</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger hidden" role="alert" id="regError"></div>
                    <form>
                        <div class="form-group">
                            <label for="regEmail">邮箱:</label>
                            <input type="email" class="form-control" id="regEmail" placeholder="请输入邮箱">
                        </div>
                        <div class="form-group">
                            <label for="regName">昵称:</label>
                            <input type="text" class="form-control" id="regName" placeholder="昵称">
                        </div>
                        <div class="form-group">
                            <label for="regPassword">密码:</label>
                            <input type="password" class="form-control" id="regPassword" placeholder="密码至少6位">
                        </div>
                        <div class="form-group">
                            <label for="regCnfPassword">确认密码:</label>
                            <input type="password" class="form-control" id="regCnfPassword" placeholder="两次输入的密码必须一致">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id ="regButton" type="button" class="btn btn-primary">注册</button>
                </div>
            </div>
        </div>
    </div>
    {{end}}
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="/">Kira的博客</a>

            </div>
            <div id="navbar" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    {{if not $login}}
                    <li><a href="#" data-toggle="modal" data-target="#Login">登录</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#Register">注册</a></li>
                    {{else}}
                    {{$user := .SESSION.Value "User"}}
                    <li><a>{{$user.Name}}</a></li>
                    <li><a class="btn" href="#" id="logout">登出</a></li>
                    {{end}}
                    {{template "Nav" .}}
                </ul>
            </div>
        </div>
    </nav>
    {{template "MainArea" .}}
    <footer class="text-center">备案号</footer>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/index/user.js"></script>
    {{template "FootScript" .}}
</body>

</html>