<a (click)="ShowDialog()" class="btn"><span class="glyphicon glyphicon-plus"></span> 创建分类</a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td class="table-td-min">ID</td>
            <td class="table-td-max">名称</td>
            <td  class="table-td-min">是否显示</td>
            <td class="table-td-middle">操作</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of categories;">
            <td>{{c.Id}}</td>
            <td (click)="c.Modifing=true">
                <span *ngIf="!c.Modifing">{{c.Name}}</span>
                <input focus (blur)="ToggleStatus(c)" (keyup.enter)="ToggleStatus(c)" type="text" class="form-control" *ngIf="c.Modifing" [(ngModel)]="c.Name">
            </td>
            <td>
                <div [@switchContainer]="c.State" (click)="Switch(c)" class="switch-container">
                    <div [@switchButton]="c.State" class="switch-button">
                    </div>
                </div>
            </td>
            <td><a (click)="Delete(c)" class="btn">删除</a></td>
        </tr>
    </tbody>
</table>